<% if logged_in? %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>Welcome to Greek Manager!</h1>
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
