<% if current_user.chapter == @chapter %>
  <h1>Editing Event</h1>

  <%= render 'form', event: @event %>

  <%= link_to 'Show', [@chapter, @event] %> |
  <%= link_to 'Back', chapter_events_path %>
<% else %>
  <% controller.redirect_to root_path %>
<% end %>
