<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @chapter.greek_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Chapter name:</strong>
  <%= @chapter.chapter_name %>
</p>
